---
layout: compress
---

{% include base_path %}

<!doctype html>
<html lang="{{ site.locale | slice: 0,2 }}" class="no-js">
  <head>
    {% include head.html %}
    {% include head/custom.html %}
  </head>

  <body>

    {% include browser-upgrade.html %}
    {% include masthead.html %}

    {{ content }}

    <div class="page__footer">
      <footer>
        {% include footer/custom.html %}
        {% include footer.html %}
      </footer>
    </div>
    
<a href="https://clustrmaps.com/site/1bu0p"  title="Visit tracker"><img src="//www.clustrmaps.com/map_v2.png?d=p30P6eV04Le3joKQwQOWtLnIrtHJmzL3zKhYW5Qp99g&cl=ffffff" /></a>
    {% include scripts.html %}

  </body>
</html>
